hr.solid {
    border-top: 3px solid #bbb;
    background-color: #E1F3EE;
  }

.center {
    margin-left: auto;
    margin-right: auto;
  }

.sea-background {
    width: 1654px;
    height: 693px;
}

.carousel-inner > .item {
    height: 400px;
 }



body{
    height: 100%;
    margin: 0;
}
  
.bg {
/* The image used */
/*background-image: url('../img/backgroundKonoha.jpeg');*/
position: fixed;
min-width: 100%;
min-height: 100%;
background-size: cover;
background-position: center;

/*
/* Full height 
height: 100%; 
width: 100%; 

/* Center and scale the image nicely 
background-position: center;
background-repeat: no-repeat;
background-size: cover;*/
}



/* Here begins CSS */

.hero-img {
    width: 70%;
    margin-top: 3em;
  }

  

@media only screen and (min-width: 1080px) {
    .container {
        width: 1230px;
        margin: 0 auto;
    }
    section {
        padding: 10em 4em;
    }
    .hero, .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        text-align: left;
    }
    .hero .left-col, .container .left-col {
        margin: 3em 3em 0 5em;
    }
    .hero .left-col h1, .container .left-col h1 {
        font-size: 3em;
        width: 90%;
    }
    .hero-img {
        width: 30%;
        margin-right: 8em;
    }
    .hero-cta {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .primary-cta {
        margin-right: 1em;
    }
    ul.features-list {
        display: block;
        margin-left: 5em;
    }
    ul.features-list li {
        font-size: 1.4em;
    }
    ul.features-list li:before {
        width: 30px;
        height: 30px;
    }
    .features-section {
        position: relative;
    }
    .features-section img {
        display: block;
        position: absolute;
        right: 0;
        width: 350px;
        bottom: -2em;
    }
    .contact-section {
        position: relative;
    }
    .contact-section .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .contact-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
    }
    .contact-right iframe {
        height: 100%;
    }
    }

    @media only screen and (min-width: 1450px) {
    .features-section:before {
        content: '';
        position: absolute;
        width: 10%;
        height: 20em;
        background: var(--primary-color);
        left: 0;
        top: -4em;
    }
    .features-section:after {
        content: '';
        position: absolute;
        width: 200px;
        height: 20em;
        left: 4.5em;
        top: 2em;
    }
}


.hero {
    text-align: center;
  }




.wrapper {
    text-align: center;
}
.wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.wrapper li {
    float: left;
    padding: 2px 5px;
}
